[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gnupg = "*"

[dev-packages]
ipython = "*"
rope = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
